body { 
    margin: 30px auto; 
    width: 	500px; }
label {
    width: 5em;
    text-align: center;}
input {
    margin-right: 1em;
    margin-bottom: .5em;}
#button {
    margin-left: .5em; }
    fieldset {
        margin-top: 1em;
        margin-bottom: 1em;
        padding-top: .5em;
    }
    legend {
      font-weight: bold;
        font-size: 85%;
        margin-bottom: .5em;}       
h1{
color:darkblue;
}
